@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --main-bg-color: #e4e4e4;
  --main-red-color: #e00002;
  --main-blue-color: #4900ff;
}

body {
  background-color: var(--main-bg-color);
}

.Header {
  background-color: var(--main-red-color);
}

.Content {
  background-color: white;
}
